.single-beer-infos {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  gap: 0.3rem;
}
.info-top,
.info-mid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.beer-image img {
  max-height: 10rem;
}

.single-beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
